PORT=3005

NODE_ENV=development

JWT_SECRET=your_super_long_random_secret_at_least_32_characters

# Database (Supabase / Postgres) (used by Prisma Client at runtime)
DATABASE_URL="postgresql://username:password@host:6543/database?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://username:password@host:5432/database"

ALLOWED_ORIGIN=http://localhost:5173, https://your-cloudfront-domain.cloudfront.net
